{
    "presets": [
        [
            "@babel/env",
            {
                "targets": {
                    "browsers": [
                        "last 2 versions",
                        "safari >= 7"
                    ]
                },
                "modules": "umd"
            }
        ]
    ],
    "plugins": [
        "@babel/plugin-transform-runtime"
    ]
}
